{% extends 'html5boilerplate/base.html' %}

{% load staticfiles %}

{% load compress %}

{% block stylesheet %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'teracy/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'teracy/css/teracy.css' %}" />
    {% endcompress %}
    {% compress css %}
        {% block stylesheet_extra %}{% endblock %}
    {% endcompress %}
{% endblock %}

{% compress js %}
    {% block javascript %}
        <script src="{% static 'teracy/js/lib/modernizr/modernizr-2.6.2.js' %}"></script>
        {% block script_extra %}{% endblock %}
    {% endblock %}
{% endcompress %}

{% block body_extra %}
    {% compress js %}
        {% block jquery_loader %}
            <script src="{% static 'teracy/js/lib/jquery/jquery-1.9.1.js'%}"></script>
        {% endblock %}
        {% block foundation_loader %}
            <script src="{% static 'teracy/js/lib/foundation/foundation.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.alerts.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.clearing.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.cookie.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.dropdown.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.forms.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.joyride.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.magellan.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.orbit.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.placeholder.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.reveal.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.section.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.tooltips.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.topbar.js' %}"></script>
            <script src="{% static 'teracy/js/lib/foundation/foundation.interchange.js' %}"></script>
            <script>
                $(document).foundation();
            </script>
        {% endblock %}
    {% endcompress %}
    {% compress js %}
        {% block application_script %}{% endblock %}
    {% endcompress %}
    {% block google_analytics %}{{ block.super }}{% endblock %}
{% endblock %}
